<div class="col-md-12 contact">
    <div class="col-md-4">
        <h1>Help Desk</h1> <br />
    </div>
    <div class="col-md-8"></div>
</div>
<div class="col-md-12 contact">
    <div class="col-md-3">
        <h3>Address</h3>
        <p>Gedung D PPBS, <br />
        Prodi S1 Teknik Informatika, FMIPA, <br />
        Jl. Raya Bandung-Sumedang Km. 21, <br />
        Jatinangor, 45363</p>
    </div>
    <div class="col-md-5">
        <h3 style="padding-left: 15px">Contact Person</h3>
        <div class="col-md-6">
            <i>
            <p><b>Mira Suryani, S.Pd., M.Kom</b><br/>
            mira.suryani@unpad.ac.id <br />
            0853-2066-9533</p>
            </i>
            <i>
            <p><b>Baby Cattleya G.P.</b><br/>
            bcattleya@gmail.com <br />
            0838-2101-1879</p>
            </i>
        </div>
    </div>
    <div class="col-md-4">
        <h1></h1> <br />
        <p>Apabila mengalami masalah pada CS-Learning <br />
        bisa mengisi <b><a href="https://goo.gl/forms/6JYc5nhMTmSt67Ln1">di sini</a></b> <br />
        </p>
    </div>
</div>